* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background: #282a36;
	color: #f8f8f2;
}

/* ----------- ARCH LOGO ----------- */
#custom-arch {
	color: #ff79c6;
	font-size: 16px;
	padding: 0 12px;
	margin: 0;
}

#custom-separator {
	color: #6272a4;
	padding: 0 4px;
	margin: 0;
}

/* ---------- WORKSPACES ---------- */
#workspaces {
	background: #44475a;
	border-radius: 20px;
	padding: 0px 4px;
	margin: 2px 0;
}

#workspaces button {
	color: transparent;
	background: #6272a4;
	border-radius: 70%;
	min-width: 12px;
	min-height: 12px;
	margin: 5px 4px;
	border: none;
	padding: 0;
	font-size: 0px;
	transition: all 0.2s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
	color: #282a36;
	background: #bd93f9;
	border-radius: 12px;
	min-width: 32px;
	min-height: 20px;
	margin: 1px 4px;
	padding: 0 6px;
	font-size: 13px;
	transition: all 0.2s ease-in-out;
}

#workspaces button.urgent {
	background-color: #ff5555;
	color: #282a36;
}

#workspaces button:hover {
	background: #6272a4;
	box-shadow: inherit;
	text-shadow: inherit;
}

/* ---------- MODULES ---------- */
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock,
#custom-powermenu {
	padding: 0 12px;
	margin: 0;
	color: #f8f8f2;
	background: transparent;
}

#backlight {
	color: #f1fa8c;
	padding: 0 12px;
}

#battery.warning {
	color: #ffb86c;
}

#battery.critical {
	color: #f8f8f2;
	background: #ff5555;
	border-radius: 4px;
	margin-left: 5px;
}

#custom-powermenu {
	padding-right: 15px;
}

#custom-powermenu:hover {
	color: #ff5555;
}

#pulseaudio:not(.microphone).zero,
#pulseaudio.microphone.zero {
	color: #ff5555; /* 0 volume (red) */
}

#pulseaudio:not(.microphone).normal,
#pulseaudio.microphone.normal {
	color: #50fa7b; /* 1-99% volume (green) */
}

#pulseaudio:not(.microphone).full,
#pulseaudio.microphone.full {
	color: #8be9fd; /* 100% volume (blue) */
}

#pulseaudio:not(.microphone).muted,
#pulseaudio.microphone.source-muted {
	color: #ff5555; /* Muted (red) */
}

#bluetooth.on {
	color: #50fa7b;
}
#bluetooth.connected {
	color: #8be9fd;
}
#bluetooth.off,
#bluetooth.disabled {
	color: #ff5555;
}

#network.wifi,
#network.ethernet,
#network.linked {
	color: #8be9fd;
}
#network.disconnected {
	color: #ff5555;
}

#battery.charging {
	color: #50fa7b;
}
#battery.full {
	color: #8be9fd;
}

/* ---------- TOOLTIP ---------- */
tooltip {
	background: rgba(40, 42, 54, 0.95);
	border: 1px solid #bd93f9;
	border-radius: 4px;
}

tooltip label {
	color: #f8f8f2;
}
